a {
  color: #1c76ce;
}

a:hover {
  color: #030362;
}

* {
  font-family: Quicksand, sans-serif !important;
}

body.loaded,
body.loaded * {
  transition:
    background-color 0.8s ease-in-out,
    color 0.8s ease-in-out,
    border-color 0.3s ease-in-out;
}
